In [ ]:
s = 'Python'

'P' in s

In [ ]:
a = 3
b = 3.0

a == b

a is b

In [ ]:
num = 44

if num % 2 == 0:
    print("Even Number")
else:
    print("Odd Number")

In [ ]:
num = 44

num & 1

In [ ]:
avg = 86

if avg > 80:
    print("Grade A")
elif avg > 70:
    print("Grade B")
elif avg > 50:
    print("Grade C")
elif avg > 40:
    print("Grade D")
else:
    print("Fail")

In [ ]:
age = 9
salary = 20000

if age > 18 and salary >= 30000:
    print("Eligible for a Credit Card")
elif age > 10:
    print("Eligible for a Debit Card")
else:
    print("Not eligible for a card")

In [ ]:
for num in (1,2,3,4,526,62,56):
    print(num)
    if num == 526:
        break
    print("Searching..")

In [ ]:
bucket = []

for x in range(1,11):
    if x % 2 == 0:
        bucket.append(x**2)
    else:
        bucket.append(x**3)
bucket

In [ ]:
bucket = [ x**2 if x % 2 == 0 else x**3 for x in range(1,10)]

bucket

In [ ]:
bucket = set (x**2 if x % 2 == 0 else x**3 for x in range(1,10))

bucket

In [ ]:
bucket = { x : x**2 if x % 2 == 0 else x**3 for x in range(1,10)}

bucket

In [ ]:
data = [
    [3,1,7],
    [5,4,6],
    [9,7,8]
]

data

In [ ]:
sqbucket = []

for row in data:
    temp = []
    for col in row:
        if col % 2 == 0:
            temp.append(col**2)
        else:
            temp.append(col**3)
temp

### Ternary Operation

In [ ]:
num = 44
result = " "

if num % 2 == 0:
    result = "Even"
else:
    result = "Odd"
result

In [ ]:
num = 45

variable = 'Even' if num % 2 == 0 else 'Odd'

variable

In [ ]:
a, b = 84, 56

largest = "a is largest" if a > b else "b is largest"
largest

In [ ]:
a, b = 24, 56

largest = a if a > b else b
largest

In [ ]:
a, b = 84, 84

largest = a if a > b else (b if b > a else a + b)
largest

In [ ]:
a, b, c = 44, 66, 37

largest = a if a > b and c else (b if b>a>c else c)
largest

In [ ]:
a, b, c = 44, 26, 37

largest = a if a > b and c else (b if b > a and c else c)
largest

In [112]:
a,b,c,d = 60,50,30,40

if a>b and c and d:
    print(a)
elif b>c and d and a:
    print(b)
elif c>d and a and b:
    print(c)
else:
    print(d)

60

In [114]:
if a < b and c and d:
    print(a)
elif b < c and d and a:
    print(b)
elif c < d and a and b:
    print(c)
else:
    print(d)

30

In [123]:
a,b,c,d = 10,5,3,1

smallest = a if a < b else (b if b < c else (c if c < d else d))
smallest

1