# Data Types

## Variables

In [2]:
var1 = "Python56485"
var2 = "Java"

print(type(var1))

<class 'str'>

In [9]:
var2
var1

'Python56485'

## Slicing

In [23]:
var1[0]
var1[3]
var1[:6]
var1[6:]
var1[3:9:2]
var1[-1:-6:-1]
var1[::-1]

'58465nohtyP'

## Methods

In [45]:
var3 = " John Smith python "
email = "josh@yahoo.com"
var3.upper()
var3.lower()
var3.capitalize() #makes the first letter capital in a string
var3.title() #makes every word's first letter capital
var3.swapcase() #small letter will be capital and viceversa
var3.find('John') #finds the desired string first letter position, if not found result will be -1
var3.count('h') #counts how many times a string is repeated
email.endswith('@gmail.com')
email = email.replace('yahoo','gmail')
email.index('gmail')
var3.strip() #remove the trailing spaces from first and last

'John Smith python'

## Numbers

In [47]:
num1 = 254
type(num1)

int

In [48]:
num2 = 24.48
type(num2)

float

In [53]:
num3 = 2 + 3j
type(num3)
num3.real # .real is not a function its an attribute, its automatically convert the number into floating
num3.imag

3.0

## Bool

In [ ]:
TRUE
FALSE

## Type Casting or Conversion

In [56]:
age = '23'
int(age) #converting into integer
float(age) #converting into floating
complex(age) #converting into complex

(23+0j)

In [58]:
w = 45.26
int(w)
str(w)

'45.26'